<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
   xmlns:android="http://schemas.android.com/apk/res/android" id="sign-in-with-apple-cordova-plugin" version="0.0.3">
   <name>Sign In With Apple</name>
   <js-module name="sign-in-with-apple-cordova-plugin" src="www/sign-in-with-apple-cordova-plugin.js">
      <clobbers target="SignInWithApple" />
   </js-module>


   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="sign-in-with-apple-cordova-plugin">
            <param name="ios-package" value="SignInWithAppleCordovaPlugin" />
         </feature>
      </config-file>

      <source-file src="src/ios/SignInWithAppleCordovaPlugin.swift" />
      <source-file src="src/ios/SignInWithAppleTool.swift" />

   </platform>
</plugin>